/*********
 *GENERAL*
 *********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #009688 20%, #dadbd2 20% 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* image controll */
.card-pic {
    margin: 15px;
}

.card-pic img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/******
 *MAIN*
 ******/

#app-container {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 800px;
    display: flex;
}


    /************
     *navigation*
     ************/

    #nav-cnt {
        width: 35%;
        height: 100%;
    }


        /* profile section */

        #prof-nav-cnt {
            background-color: rgb(234, 234, 234);
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        #prof-nav-pic {
            display: flex;
            align-items: center;
        }

        #prof-nav-menu {
            color: rgb(177, 177, 177);
            text-align: center;
            font-size: 24px;
            margin: auto 0;
        }

        #prof-nav-menu > i {
            padding-right: 20px;
        }



        /* notification section  */
        #notification-cnt {
            display: flex;
            align-items: center;
            background-color: rgb(142, 218, 252);
            height: 80px;
            width: 100%;
        }

        #notificatoin-bell {
            background-color: white;
            width: 50px;
            height: 50px;
            margin: 15px;
            padding-top: 12px;
            border-radius: 50%;
            text-align: center;
            color: rgb(142, 218, 252);
            font-size: 24px;
        }

        #notification-cnt h4 {
            font-weight: 500;
        }

        #notification-cnt a {
            font-size: 16px;
            color: grey;
            text-decoration: underline;
        }



        /* search bar */

        #searchbar-cnt {
            background-color: rgb(240, 238, 238);
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #searchbar-cnt input, button {
            background-color: white;
            font-size: 16px;
            border: 0;
        }

        #searchbar-cnt button {
            color: rgb(177, 177, 177);
            padding: 5px 10px;
        }

        #searchbar-cnt input {
            padding: 5px;
            width: 400px;
        }


        
        /* friend list */

        #friend-list-cnt {
            background-color: white;
            height: calc(100% - 210px);
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }

        .card-chat {
            border-top: 1px solid rgb(185, 185, 185);
            height: 80px;
            width: 100%;
            display: flex;
        }

        .card-chat div {
            padding: 10px;
        }

        .card-chat span {
            color: lightgrey;
        }

        .card-time {
            flex-grow: 1;
            text-align: right;
        }




    /****************
     *chat container*
     ****************/

    #chat-cnt {
        width: 65%;
        height: 100%;
    }



        /* profile bar */

        #prof-chat-bar {
            background-color: rgb(234, 234, 234);
            height: 80px;
            width: 100%;
            border-left: 1px solid rgb(175, 167, 167);
            display: flex;
            align-items: center;
            color: rgb(167, 162, 162);
        }

        #prof-chat-bar h3 {
            color: black;
        }

        #prof-chat-bar-menu {
            flex-grow: 1;
            text-align: right;
            font-size: 22px;
        }
        
        #prof-chat-bar-menu i {
            padding-right: 20px;
        }


        /* chat messages */

        #chat-bar-cnt {
            height: calc(100% - 160px);
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            padding: 50px;
            display: flex;
            flex-direction: column;

            /* debug */
            background-color: beige;
        }

        .message {
            width: 300px;
            margin: 5px;
            padding: 10px 5px 5px 10px;
            border-radius: 5px;
        }

        .message span {
            float: right;
            font-size: 12px;
            color: rgb(177, 169, 169);
        }

        .sent {
            align-self: flex-end;
            background-color: rgb(213, 249, 186);
        }

        .received {
            background-color: white;
        }


        /* sender message */

        #send-msg-cnt {
            background-color: rgb(243, 238, 234);
            border-left: 1px solid rgb(175, 167, 167);
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #send-msg-cnt i {
            font-size: 26px;
            color: rgb(92, 88, 88);
        }

        #meassage-sender-cnt {
            margin: 0 40px;
            width: 75%;
        }

        #meassage-sender-cnt input {
            border: 0;
            border-radius: 5px;
            padding: 15px;
            width: 100%;
            font-size: 14px;
        }




/* debug */

.position {
    background-color: black;
    border: 4px solid red;
}